<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Невыезд зарубеж. Проверка невыезда</title>
	<meta name="description" content="Latest updates and statistic charts">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="{%  static '/frontend/vendors/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/tether/dist/css/tether.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/bootstrap-select/dist/css/bootstrap-select.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/select2/dist/css/select2.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/nouislider/distribute/nouislider.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/owl.carousel/dist/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/owl.carousel/dist/assets/owl.theme.default.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/ion-rangeslider/css/ion.rangeSlider.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/ion-rangeslider/css/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/dropzone/dist/dropzone.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/summernote/dist/summernote.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/bootstrap-markdown/css/bootstrap-markdown.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/animate.css/animate.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/toastr/build/toastr.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/jstree/dist/themes/default/style.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/morris.js/morris.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/chartist/dist/chartist.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/socicon/css/socicon.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/vendors/line-awesome/css/line-awesome.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/vendors/flaticon/css/flaticon.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/vendors/metronic/css/styles.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/vendors/vendors/fontawesome5/css/all.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/demo11/assets/demo/base/style.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{%  static '/frontend/demo11/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
	<style>
		*{
			font-family: 'Roboto', sans-serif;
		}
	</style>
</head>
<body class="m-content--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
	<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
		<div class="m-container m-container--fluid m-container--full-height">
			<div class="m-stack m-stack--ver m-stack--desktop">

				<!-- BEGIN: Brand -->
				<div class="m-stack__item m-brand  m-brand--skin-light ">
					<div class="m-stack m-stack--ver m-stack--general m-stack--fluid">
						<div class="m-stack__item m-stack__item--middle m-brand__logo">
							<a href="index.html" class="m-brand__logo-wrapper">
								<img alt="" src="{%  static '/frontend/demo11/assets/demo/media/img/logo/logo2.png"' %} />
							</a>
						</div>
						<div class="m-stack__item m-stack__item--middle m-brand__tools">
							<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left">
									<h1 style="width: 300px; color: #f80611;">Невыезд зарубеж</h1>
							</div>
							<a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
								<span></span>
							</a>
							<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
								<i class="flaticon-more"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">

					<!-- BEGIN: Topbar -->
					<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
						<div class="m-stack__item m-topbar__nav-wrapper">
							<ul class="m-topbar__nav m-nav m-nav--inline">

								<li class="m-nav__item m-topbar__quick-actions m-dropdown m-dropdown--skin-light m-dropdown--large m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
									<a href="#" class="m-nav__link m-dropdown__toggle">
												<span class="m-nav__link-icon">
													<span class="m-nav__link-icon-wrapper"><i class="fa	fa-donate"></i></span>
													<span class="m-nav__link-badge m-badge m-badge--warning">500</span>
												</span>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__header m--align-center">
												<span class="m-dropdown__header-title">Quick Actions</span>
												<span class="m-dropdown__header-subtitle">Shortcuts</span>
											</div>
											<div class="m-dropdown__body m-dropdown__body--paddingless">
												<div class="m-dropdown__content">
													<div class="m-scrollable" data-scrollable="false" data-height="380" data-mobile-height="200">
														<div class="m-nav-grid m-nav-grid--skin-light">
															<div class="m-nav-grid__row">
																<a href="#" class="m-nav-grid__item">
																	<i class="m-nav-grid__icon flaticon-piggy-bank"></i>
																	<span class="m-nav-grid__text">Пополнить счет</span>
																</a>
																<a href="#" class="m-nav-grid__item">
																	<i class="m-nav-grid__icon flaticon-clipboard"></i>
																	<span class="m-nav-grid__text">Детализация расходов</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="m-nav__item m-topbar__notifications m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="1">
									<a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
												<span class="m-nav__link-icon">
													<span class="m-nav__link-icon-wrapper"><i class="flaticon-alarm"></i></span>
													<span class="m-nav__link-badge m-badge m-badge--success">3</span>
												</span>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__header m--align-center">
												<span class="m-dropdown__header-title">9 New</span>
												<span class="m-dropdown__header-subtitle">User Notifications</span>
											</div>
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<h5>p[wfi[perjpo</h5>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
									<a href="#" class="m-nav__link m-dropdown__toggle">
												<span class="m-topbar__userpic">
													<img src="/frontend/demo11/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="" />
												</span>
										<span class="m-nav__link-icon m-topbar__usericon  m--hide">
													<span class="m-nav__link-icon-wrapper"><i class="flaticon-user-ok"></i></span>
												</span>
										<span class="m-topbar__username m--hide">Nick</span>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__header m--align-center">
												<div class="m-card-user m-card-user--skin-light">
													<div class="m-card-user__pic">
														<img src="/frontend/demo11/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="" />
													</div>
													<div class="m-card-user__details">
														<span class="m-card-user__name m--font-weight-500">Mark Andre</span>
														<a href="" class="m-card-user__email m--font-weight-300 m-link">mark.andre@gmail.com</a>
													</div>
												</div>
											</div>
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav m-nav--skin-light">
														<li class="m-nav__section m--hide">
															<span class="m-nav__section-text">Section</span>
														</li>
														<li class="m-nav__item">
															<a href="profile.html" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-profile-1"></i>
																<span class="m-nav__link-title">
																			<span class="m-nav__link-wrap">
																				<span class="m-nav__link-text">My Profile</span>
																				<span class="m-nav__link-badge"><span class="m-badge m-badge--success">2</span></span>
																			</span>
																		</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="profile.html" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-share"></i>
																<span class="m-nav__link-text">Activity</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="profile.html" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-chat-1"></i>
																<span class="m-nav__link-text">Messages</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit">
														</li>
														<li class="m-nav__item">
															<a href="profile.html" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-info"></i>
																<span class="m-nav__link-text">FAQ</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="profile.html" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																<span class="m-nav__link-text">Support</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit">
														</li>
														<li class="m-nav__item">
															<a href="snippets/pages/user/login-1.html" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- END: Header -->

	<!-- begin::Body -->
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

		<!-- BEGIN: Left Aside -->
		<button class="m-aside-left-close  m-aside-left-close--skin-light " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
		<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
			<!-- BEGIN: Aside Menu -->
			<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light " m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
				<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
					<li class="m-menu__section m-menu__section--first">
						<h4 class="m-menu__section-text">Запрос на невыезд</h4>
						<i class="m-menu__section-icon flaticon-more-v2"></i>
					</li>
					<li class="m-menu__item text-center" style="margin-bottom: 10px;">
						<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-layers"></i>
																<span class="m-menu__link-text">Проверить невыезд</span>
															</span>
						</a>
					</li>
					<li class="m-menu__item text-center" style="margin-bottom: 10px;">
						<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-suitcase"></i>
																<span class="m-menu__link-text">Оплатить проверку</span>
															</span>
						</a>
					</li>
					<li class="m-menu__item text-center" style="margin-bottom: 10px;">
						<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-light"></i>
																<span class="m-menu__link-text">Настройка запроса</span>
															</span>
						</a>
					</li>
					<li class="m-menu__item text-center">
						<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-info"></i>
																<span class="m-menu__link-text">&ensp;&emsp;Инструкции&emsp;&ensp;</span>
															</span>
						</a>
					</li>
					<li class="m-menu__section "><h4 class="m-menu__section-text">Отчеты по проверкам</h4><i class="m-menu__section-icon flaticon-more-v2"></i></li>
					<li class="m-menu__item text-center" aria-haspopup="true" m-menu-link-redirect="1" style="margin-bottom: 10px;">
						<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-graphic"></i>
																<span class="m-menu__link-text">Просмотр отчетов</span>
															</span>
						</a>
					</li>
					<li class="m-menu__item text-center" style="margin-bottom: 10px;">
						<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-network"></i>
																<span class="m-menu__link-text">Настройка отчетов</span>
															</span>
						</a>
					</li>
					<li class="m-menu__item text-center" style="margin-bottom: 10px;">
						<a href="#" class="btn btn-outline-success m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-alert"></i>
																<span class="m-menu__link-text">&emsp;Уведомления&emsp;</span>
															</span>
						</a>
					</li>
					<li class="m-menu__item text-center">
						<a href="#" class="btn btn-outline-accent m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-info"></i>
																<span class="m-menu__link-text">&ensp;&emsp;Инструкции&emsp;&ensp;</span>
															</span>
						</a>
					</li>
					<li class="m-menu__section ">
						<h4 class="m-menu__section-text">Настройка системы</h4>
						<i class="m-menu__section-icon flaticon-more-v2"></i>
					</li>
					<li class="m-menu__item text-center" style="margin-bottom: 10px;">
						<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-clipboard"></i>
																<span class="m-menu__link-text">&emsp;Приложения&emsp;</span>
															</span>
						</a>
					</li>
					<li class="m-menu__item text-center" style="margin-bottom: 10px;">
						<a href="#" class="btn btn-outline-warning m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-clipboard"></i>
																<span class="m-menu__link-text">&emsp;&emsp;Модули&emsp;&emsp;</span>
															</span>
						</a>
					</li>
					<li class="m-menu__item text-center" style="margin-bottom: 10px;">
						<a href="#" class="btn btn-outline-danger m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-lifebuoy"></i>
																<span class="m-menu__link-text">&ensp;Безопасность&ensp;</span>
															</span>
						</a>
					</li>
					<li class="m-menu__item text-center">
						<a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--pill">
															<span>
																<i class="m-menu__link-icon flaticon-settings"></i>
																<span class="m-menu__link-text">&emsp;Настройки&emsp;</span>
															</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- END: Aside Menu -->
		</div>
		<!-- END: Left Aside -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">




			<!-- BEGIN: Subheader -->
			<div class="m-subheader ">
				<div class="d-flex align-items-center">
					<div class="mr-auto">
						<h3 class="m-subheader__title ">Личный кабинет. Заполнение формы для проверки невыезда</h3>
					</div>
					<div>
								<span class="m-subheader__daterange" style="color: darkred;">
										 &emsp;До конца тестового периода 5 дней&emsp;
									<a href="#" class="btn btn-sm btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										&emsp;
									</a>
								</span>
					</div>
				</div>
			</div>

			<!-- END: Subheader -->
			<div class="m-content">

				<!--Begin::Section-->
				<div class="row">
					<div class="col-xl-12">
						<!--begin::Portlet-->
						<div class="m-portlet">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-multimedia"></i>
												</span>
										<h3 class="m-portlet__head-text">
											Заполните форму максимально точно и максимально правдиво
										</h3>
									</div>
								</div>
							</div>
							<div class="m-portlet__body">
								<div class="m-scrollable" data-scrollable="true" data-height="200" data-scrollbar-shown="true">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply
									dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply
									dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply
									dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
								</div>
							</div>
							<div class="m-portlet__foot">
								<div class="row align-items-center">
									<div class="col-lg-12">
										<button type="submit" class="btn btn-success">Отправить на проверку невыезда</button>
										<button type="submit" class="btn btn-secondary">Сбросить форму</button>
									</div>
								</div>
							</div>
						</div>
						<!--end::Portlet-->
					 </div>
			    </div>

				<!--End::Section-->
<!---------------------------------------------------------------------------------------------------------------------------------->



			</div>
		</div>
	</div>

	<!-- end:: Body -->

	<!-- begin::Footer -->
	<footer class="m-grid__item		m-footer ">
		<div class="m-container m-container--fluid m-container--full-height m-page__container">
			<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
				<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
							<span class="m-footer__copyright">
								2019 &copy; PRAGMATICA theme by <a href="#" class="m-link">Keenthemes</a>
							</span>
				</div>
			</div>
		</div>
	</footer>

	<!-- end::Footer -->
</div>
<!-- end:: Page -->
<!-- begin::Scroll Top -->
<div id="m_scroll_top" class="m-scroll-top">
	<i class="la la-arrow-up"></i>
</div>
<!-- end::Scroll Top -->

<!--begin:: Global Mandatory Vendors -->
<script src="/frontend/vendors/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/frontend/vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/js-cookie/src/js.cookie.js" type="text/javascript"></script>
<script src="/frontend/vendors/moment/min/moment.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
<script src="/frontend/vendors/wnumb/wNumb.js" type="text/javascript"></script>

<!--end:: Global Mandatory Vendors -->

<!--begin:: Global Optional Vendors -->
<script src="/frontend/vendors/jquery.repeater/src/lib.js" type="text/javascript"></script>
<script src="/frontend/vendors/jquery.repeater/src/jquery.input.js" type="text/javascript"></script>
<script src="/frontend/vendors/jquery.repeater/src/repeater.js" type="text/javascript"></script>
<script src="/frontend/vendors/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/block-ui/jquery.blockUI.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/js/framework/components/plugins/forms/bootstrap-datepicker.init.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/js/framework/components/plugins/forms/bootstrap-timepicker.init.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="/frontend/vendors/js/framework/components/plugins/forms/bootstrap-daterangepicker.init.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-switch/dist/js/bootstrap-switch.js" type="text/javascript"></script>
<script src="/frontend/vendors/js/framework/components/plugins/forms/bootstrap-switch.init.js" type="text/javascript"></script>
<script src="/frontend/vendors/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
<script src="/frontend/vendors/select2/dist/js/select2.full.js" type="text/javascript"></script>
<script src="/frontend/vendors/typeahead.js/dist/typeahead.bundle.js" type="text/javascript"></script>
<script src="/frontend/vendors/handlebars/dist/handlebars.js" type="text/javascript"></script>
<script src="/frontend/vendors/inputmask/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
<script src="/frontend/vendors/inputmask/dist/inputmask/inputmask.date.extensions.js" type="text/javascript"></script>
<script src="/frontend/vendors/inputmask/dist/inputmask/inputmask.numeric.extensions.js" type="text/javascript"></script>
<script src="/frontend/vendors/inputmask/dist/inputmask/inputmask.phone.extensions.js" type="text/javascript"></script>
<script src="/frontend/vendors/nouislider/distribute/nouislider.js" type="text/javascript"></script>
<script src="/frontend/vendors/owl.carousel/dist/owl.carousel.js" type="text/javascript"></script>
<script src="/frontend/vendors/autosize/dist/autosize.js" type="text/javascript"></script>
<script src="/frontend/vendors/clipboard/dist/clipboard.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/ion-rangeslider/js/ion.rangeSlider.js" type="text/javascript"></script>
<script src="/frontend/vendors/dropzone/dist/dropzone.js" type="text/javascript"></script>
<script src="/frontend/vendors/summernote/dist/summernote.js" type="text/javascript"></script>
<script src="/frontend/vendors/markdown/lib/markdown.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
<script src="/frontend/vendors/js/framework/components/plugins/forms/bootstrap-markdown.init.js" type="text/javascript"></script>
<script src="/frontend/vendors/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
<script src="/frontend/vendors/jquery-validation/dist/additional-methods.js" type="text/javascript"></script>
<script src="/frontend/vendors/js/framework/components/plugins/forms/jquery-validation.init.js" type="text/javascript"></script>
<script src="/frontend/vendors/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/js/framework/components/plugins/base/bootstrap-notify.init.js" type="text/javascript"></script>
<script src="/frontend/vendors/toastr/build/toastr.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/jstree/dist/jstree.js" type="text/javascript"></script>
<script src="/frontend/vendors/raphael/raphael.js" type="text/javascript"></script>
<script src="/frontend/vendors/morris.js/morris.js" type="text/javascript"></script>
<script src="/frontend/vendors/chartist/dist/chartist.js" type="text/javascript"></script>
<script src="/frontend/vendors/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
<script src="/frontend/vendors/js/framework/components/plugins/charts/chart.init.js" type="text/javascript"></script>
<script src="/frontend/vendors/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/vendors/jquery-idletimer/idle-timer.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/waypoints/lib/jquery.waypoints.js" type="text/javascript"></script>
<script src="/frontend/vendors/counterup/jquery.counterup.js" type="text/javascript"></script>
<script src="/frontend/vendors/es6-promise-polyfill/promise.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
<script src="/frontend/vendors/js/framework/components/plugins/base/sweetalert2.init.js" type="text/javascript"></script>

<!--end:: Global Optional Vendors -->

<!--begin::Global Theme Bundle -->
<script src="/frontend/demo11/assets/demo/base/scripts.bundle.js" type="text/javascript"></script>

<!--end::Global Theme Bundle -->

<!--begin::Page Vendors -->
<script src="/frontend/demo11/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>

<!--end::Page Vendors -->

<!--begin::Page Scripts -->
<script src="/frontend/demo11/assets/app/js/dashboard.js" type="text/javascript"></script>

<!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>
